body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to left ,#c1d0f9ec, #f7e2dadb);
}

.container {
    max-width: 1540px;
    margin: 20px auto;
    padding: 5px 20px;
    background: linear-gradient(to left,  #87CEFA, #c9d5efcf);
}
.heading1{
    max-width: 1540px;
    text-align: center;
    padding: 0px 20px;
    line-height: 3em;
    color: darkblue;
    font-size: 30pt;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgba(1, 6, 7, 0.8);
}
.news-article {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}
.article-title {
    font-size: 20px;
    font-weight: bold;
    color: #0077cc;
    margin-bottom: 10px;
}
.card-main{
    box-shadow: 4px 4px 8px rgba(1, 6, 7, 0.8);
    padding: 30px;
    margin: 15px;
}
.article-description {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

.article-source {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
}
.read-more-link {
    color: #0077cc;
    text-decoration: none;
    font-weight: bold;
}
.read-more-link:hover {
    text-decoration: underline;
}
ul{
    list-style: none;
    padding: 0%;
    margin: 0;
}
