@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap');

:root {
    --footer-background: white;
    --text-color: #111420;
    --text-gray: #e1e1e1;
    --text-heading-gray: #b9b9b9;
}

html {
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    position: absolute;
    margin: 0;
    background: url(assets/main1.gif) no-repeat;
    background-size: cover;
}

/* header section start */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 120px 10px 120px ;
}

header .logo{
    background-color: rgba(0, 0, 0);
}
header .logo img{
    height: 80px;
}

/* navbar start */
header ul{
    display: flex;
}

header li{
    margin: 20px;
    list-style: none;
}

header li a{
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
}

header a:hover{
    color: #000000;
    transition: 0.3 all;
    text-decoration: underline;
}


/* submit button start */
.donate{
    display: inline-flex;
    align-items: center;
}

header button {
    background-color: rgb(255, 255, 0);
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
    border: 2px solid black;
    border-radius: 15px;
    cursor: pointer;
    width: 160px;
}

header button:hover {
    background-color: #ffffff;
    text-decoration: none;
}

header button a{
    color: black;
    text-decoration: none;
}

header button a:hover{
    text-decoration: none;
}

.donate img{
    margin-left: 15px;
    height: 40px;
    transition: all 0.2s ease-in-out;
}

.donate img:hover{
    transform: scale(1.2);
}
/* submit button end */
/* nav bar end */

/* about us on hover effect */
li a.active {
    font-size: 25px;
    transition: all 0.2s ease-out;
}

li a.active:hover {
    font-size: 28px;
}

#newContent {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    transition: opacity 0.3s ease;
    padding: 85px 120px 10px 120px;
    align-items: center;
}

/* #newContent {
    height: auto;
    width: auto;
    overflow: hidden;
    transition: opacity 0.3s ease;
    position: relative;
    display: none;
    padding: 85px 120px 10px 120px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    top: 0;
    display: flex;
    align-items: center;
    z-index: -1;
} */

#newContent p{
    font-size: 25px;
    padding-left: 55px;
}

#newContent img{
    height: 200px;
}

/* header section end */

/* main section */
main{
    /* background-image: linear-gradient(#CDFCF6, white 85%); */
    margin-top: 580px;
    padding: 10px 120px 10px 120px ;
    text-align: justify;
}

/*? footer reset */
*, *::after, *::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*? footer reset */
*, *::after, *::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*? footer containers */
footer {
    position: relative;
    min-width: 300px;
    width: 100%;
    bottom: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: url(assets/footer\ 1.gif) no-repeat;
    background-size: cover;
    color: #ffffff;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1320px;
    padding: 16px;
}


/*? top section */
.footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    padding: 16px 0px;
    justify-content: space-between;
}

/*? footer subscribe */
.footer-subscribe {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.footer-subscribe > button {
    cursor: pointer;
    background-color: var(--text-color);
    border-radius: 8px;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    min-width: 120px;
    min-height: 36px;
    flex: 1 0 80px;
    white-space: nowrap;
    padding: 8px 12px;
    border: 0px;
    outline: none;
}

.footer-subscribe button:hover{
    background-color: red;
    color: black;
}

/*? footer columns */
.footer-columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    flex: 2 0 140px;
    width: 100%;
    gap: 16px;
    padding: 24px 8px 16px 8px;
    margin: 0 auto;
    border-top: 1px solid var(--text-gray);
}

.footer-columns ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-columns ul a {
    color: white;
    text-decoration: none;
}

.footer-columns ul a:hover{
    text-decoration: underline;
}

.footer-columns ul li {
    margin-bottom: 16px;
}

.footer-columns h3 {
    color: var(--footer-heading-gray);
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 1.125rem;
}

.footer-centering {
    margin: 0 auto;
}

.footer-columns > section {
    min-width: 150px;
}

.footer-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    height: 230px;
    gap: 8px;
}

.footer-logo img{
    height: 210px;
}

/*? Footer bottom */
.footer-bottom {
    text-align: center;
    border-top: 1px solid var(
        --text-gray
    );
    margin-top: 48px;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 8px;
    padding: 16px 0px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-bottom > small {
    font-size: 16px;
    margin: 0 4px;
}

.footer-headline > h2 {
    margin: 0px;
}

.footer-headline > p {
    margin: 12px 0px;
}

/*? socials */
.social-links {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.social-links img {
    width: 24px;
    height: 24px;
    transition: all 0.2s ease-in-out;
}

.social-links img:hover {
    transform: scale(1.1);
}

/*? mobile */
@media (max-width: 800px) {
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 16px 8px 32px 8px;
    }

    .footer-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 16px 8px 32px 8px;
    }

    .footer-bottom {
        display: flex;
        flex-direction: column-reverse;
        align-items: space-between;
        justify-content: center;
        margin: 0 auto;
    }
}